@import "../../Colors.scss";
.form {

    display: flex;
    justify-content: space-between;
    padding: 60px;
    color: rgb(0, 0, 0);
    margin-top: 1%;
    margin-bottom: 10%;
    margin-top: -30px;
    font-size: 30px;
    font-family: 'Lucida Sans';
    
    

    .input-title {
        width: 300px;
        border-radius: 15px;
        
    }

    .text-area{

        border-radius: 25px;
        width: 320px;
        padding: 10px;
        font-size: 16px;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgb(46, 74, 197);

    }

    .input-file{
        border: none;
        color: rgb(0, 0, 0);
        
    }
   

    .button-sent {

        width: 320px;
        padding: 10px;
        font-size: 16px;
        border-radius: 15px;
        background-color: $secondary-color;
        box-shadow: 0px 0px 5px rgb(46, 74, 197);
        font-family: 'Lucida Sans';
        

    }

    .button-sent:hover {
        background-color: $hover-color;
    }

}