.div-main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .card-profile {
        
        width: 80%; 
        max-width: 400px; 
        padding: 20px;

    }
}