.Detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    

    .div-card {
        text-align: center;
        padding: 20px;
        
    }

    .posts {
        margin-top: 10px;
    }

}