@import "../../Colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: $primary-color;
    color: $primary-color;
  }
  
  .header a {
    text-decoration: none;
    color: $secondary-color;
    margin-right: 20px;
    font-size: 19px;
  }
  
  .search-input {
    flex-grow: 1;
    margin-right: 15px;
    
  
    input {
      width: 20%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 19px;
      background-color:$secondary-color;
      
    }
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color:$secondary-color;
    color:$primary-color;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .avatar {
    text-decoration: none;
    color: $primary-color;
  
    .avatar-image {
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  
 /*@import "../../Colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $primary-color;
    color: $primary-color;
  }
  
  .header a {
    text-decoration: none;
    color: $primary-color;
    margin-right: 20px;
  }
  
  .search-input {
    flex-grow: 1;
    margin-right: 10px;
  
    input {
      width: 10%;
      padding: 5px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
    }
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color:$secondary-color;
    color:$primary-color;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .avatar {
    text-decoration: none;
    color: $primary-color;
  
    .avatar-image {
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  


  ESE ES LO QUE ESTABA ANTES 

  */