@import "../../Colors.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: $primary-color;
    color: $primary-color;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-top: -30px;
    
  }
  
  .header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 27px;
    font-family: 'Lucida Sans';
    border-radius: 15px;
    background-color:$secondary-color;
  }
  
  .search-input {
    flex-grow: 10;
    align-items: center;
    margin-left: 100px;
    
    
  
    input {
      width: 59%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      background-color:$secondary-color;
      border-radius: 19px;
      
    }
  }

  .users{
    background-color:$secondary-color;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Lucida Sans';
    border-radius: 15px;
    
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color:$secondary-color;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Lucida Sans';
    font-size: 28px;
    border-radius: 15px;
  }
  
  .avatar {
    text-decoration: none;
    color: black;
  
    .avatar-image {
      border-radius: 60%;
      margin-right: 15px;
    }
  
  }
  
 