@import "../../Colors.scss";

.div-main{

    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 80px;
    
    .div-card {
        width: 530px; 
        height: 530px;
        font-size: 2px; 
        background-color: $secondary-color;
        border-color: black;
    }

    .img {
        width: 100%; 
        max-height: 400px; 
      }
    
}
.user{
    font-size: 20px;
}