@import "Colors.scss";

#root {
  margin: 0;
  text-align: center;
  background-color: $secondary-color;  
  height: 100%; 
}

body {
  
  height: 100vh; /* 100% da altura do viewport */
  width: 100%; /* 100% do viewport */
}

.App {

  height: 100%;
  
} 

