@import "Colors.scss";

#root {
  margin: 0;
  text-align: center;
  background-color: $secondary-color;  
  height: 100vh; 
}

body {
  
  height: 100vh;
  margin: 0;
}

.App {

  height: 100vh;
  
}