@import "Colors.scss";

/*.div-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // Isso faz com que o contêiner ocupe toda a altura da tela
  
  .logo {
    max-width: 100%; // A imagem não pode ser maior que o contêiner pai
    height: auto; // Mantém a proporção original da imagem

    .img {
      max-width: 100%; // A imagem não pode ser maior que o contêiner pai
      height: auto; // Mantém a proporção original da imagem
    }
  }
}*/

// creo que podemos eliminar el index.scss pues no creo que vamos necesitar
a {
  font-weight: 500;
  color: $terciary-color;
  text-decoration: inherit;
}
a:hover {
  color: $hover-color}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1A1A1A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $hover-color;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FFFFFF;
  }
  a:hover {
    color: $hover-color;
  }
  button {
    background-color: $terciary-color;
  }
}